<h1>Movie #<%= @id %> details</h1>

<div style="border-bottom: 2px solid lightgray;"><a href="/movies">Go back</a>  |  <a href="/delete_movie/<%= @id %>">Delete movie</a></div>


<div style="border-bottom: 2px solid lightgray;">
  <p>Title</p>
  <p style="text-indent: 30px;"><%= @movie.title %></p>
  <p>Year</p>
  <p style="text-indent: 30px;"><%= @movie.year %></p>
  <p>Duration</p>
  <p style="text-indent: 30px;"><%= @movie.duration %></p>
  <p>Description</p>
  <p style="text-indent: 30px;"><%= @movie.description %></p>
  <p>Image</p>
  <p style="text-indent: 30px;"><img src ="http://robohash.org/<%= @movie.image %>"></p>
  <p>Director</p>
  <p style="text-indent: 30px;">
    <% director = Director.where({ :id => @movie.director_id }).at(0) %>
    <%= director.name %>
  </p>
  <p>Created at</p>
  <p style="text-indent: 30px;"><%= time_ago_in_words(@movie.created_at) %> ago</p>
  <p>Updated at</p>
  <p style="text-indent: 30px;"><%= time_ago_in_words(@movie.updated_at) %> ago</p>
</div>
